:root{

  --white-background: white;
  --color-black: #10100e;
  --margin-padding: 10px;
}




body {
  margin: 0;
  font-family:sans-serif;
  background-color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
