
.container__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
   
  }
  
  .card__list{
     margin-top: 45px;
      padding: 60px 40px;
      margin-right: 30px;
     border-radius: var(--margin-padding);
     background-color: #fff;
     text-align: center;
    
  }
  .card__list a{
     text-decoration: none;
  }
  
  .card__list p{
      color: red;
   }
   .card__list p:hover{
      color: #000;
   }
  
  .img__list{
     border-radius: 10px; 
  }
  